body {
  background-color: rgb(34, 34, 34);
  // background-color: blue;
  font-family: "Odibee Sans", cursive;
}

.container {
  min-height: 100vh;
  // padding-top: 128px;
  // background: #01070a;
  background: rgb(20, 20, 20);
}

.pagewrapper {
  padding-top: 128px;
  min-height: calc(100vh-128px);
}

.grid {
  @media (min-width: 1024px) {
    display: flex;
  }

  .cell {
    flex-grow: 1;
  }

  .cell-large {
    flex-grow: 2;
  }
}
