.computer {
  min-width: 30vw;
  max-width: 300px;
  &:hover {
    filter: drop-shadow(0px 0px 20px rgb(165, 252, 246));
  }
}

.computerwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-flow: column nowrap;
}

.comments p code {
  color: white;
  font-size: 2rem;
  margin: 0;
  @media (max-width: 1023px) {
    font-size: 1rem;
  }
}

.comments {
  padding: 8px;
  padding-top: 0;
}

.v7domain {
  color: white;
  // margin-left: 2rem;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  @media (max-width: 1023px) {
    font-size: 4.5rem;
  }
}
